{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-content ">
        <div class="container">
            <div class="row form-v2-content mx-auto ">

                <div class="col-md-6">
                    <div class="form-detail">
                        <h2>Me connecter</h2>
                        <form method="post">
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="text" class="form-control" name="_username" value="{{ last_username }}">
                            </div>
                            <div class="form-group">
                                <label for="">Mot de passe</label>
                                <input type="password" class="form-control" name="_password">
                            </div>
                            <div class="form-group">
                                <button class="btn-valider btn-block" type="submit">Me connecter</button>
                            </div>
                        </form>

                        <div class="sentence">
                            <a href="#" >Créer un compte</a>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 photo">
                    <div class="form-left">
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
