{% extends 'base.html.twig' %}

{% block body %}
    <h1>Connexion</h1>

    <form method="post">
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" name="_username" value="{{ last_username }}">
        </div>
        <div class="form-group">
            <label for="">Mot de passe</label>
            <input type="password" class="form-control" name="_password">
        </div>
        <div class="form-group">
            <label for="">Confirmer mot de passe</label>
            <input type="password" class="form-control" name="_password">
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-outline-success ">Se connecter</button>
        </div>
    </form>
{% endblock %}
