/*======================================================================
                            GENERAL
======================================================================*/


body {
    /* background: #eaeaea; */
    font-family: 'Roboto', 'Catamaran', 'Open Sans', 'Muli', 'Helvetica', 'Arial', 'sans-serif';
    width: 100%;
}

body#bodycolor {
    background: #f5f5f5;
}

main{
    margin-top: 55px;
}


hr.light {
    max-width: 100px;
    margin: 50px auto;
    border-width: 1px;
    border-color: rgba(34, 34, 34, 0.1);
}

.hr-title {
    border-bottom: 3px solid #5cd3b4;
    max-width: 250px;
    margin: 10px auto 40px auto;
}

ion-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #FFFFFF;
}

/*======================================================================
                            NAVBAR
======================================================================*/


#mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: rgba(0, 0, 0, 0.64);
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
}

#mainNav .navbar-brand {
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 1px;
}

#mainNav a.navbar-brand:hover,
#mainNav a.navbar-brand:focus {
    color: #ffc402;
}

#mainNav .navbar-nav > li > a {
    font-size: 11px;
    font-family: 'roboto', 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
    color: #ffc402;
}

#mainNav ul.navbar-nav li.nav-item a.nav-link:hover {
    color: #ffffff;;
}

/* A CORRIGER classe active */
#mainNav ul.navbar-nav li.nav-item a.dropdown-item.active {
    color: #ff0000 !important;
    background-color: transparent;
}

/*NOTIFICATIONS*/
#mainNav .btn-notifications{
    color: #FFFFFF;
}

/* ===================  TOGGLE ===================*/


/* A CORRIGER toggle color */
#mainNav .navbar-toggler .navbar-toggler-icon {
    font-size: 12px;
    padding: 8px 10px;
    background-color: #ffffff;
}


#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
    color: #FFFFFF;
}


/*======================================================================
                               INDEX.php
======================================================================*/


/* ===================  HEADER ===================*/


header.masthead {
    width: 100%;
    /*padding-top: 150px;*/
    padding-bottom: 100px;
    color: white;
    background: url("../img/bg-pattern.png"), linear-gradient(to right, #003c46, #00c0a3);
}

header.masthead .text {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center;
}

header.masthead .text h1 {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 100;

}

header.masthead .iphone {
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
}


header.masthead a.btn-outline {
    color: #fff;
    border: 1px solid;
    font-size: 11px;
    padding: 15px 45px;
    border-radius: 300px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header.masthead a.btn-outline.active,
header.masthead a.btn-outline:active,
header.masthead a.btn-outline:focus,
header.masthead a.btn-outline:hover {
    color: #fff;
    border-color: #fdcc52;
    background-color: #fdcc52;
}

/*---------- RESPONSIVE --------------*/

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        /* min-height: 775px; */
        padding-top: 0;
        padding-bottom: 0;
    }


    header.masthead .text {
        margin-bottom: 0;
        text-align: left;
    }

    header.masthead .text h1 {
        font-size: 50px;
    }

    header.masthead .iphone {
        max-width: 325px;
    }
}


/* ===================  FEATURES ===================*/


section.features {
    margin-top: 100px;
}

section.features h2 {
    font-size: 50px;
}

section.features .feature-item {
    max-width: 350px;
    margin: 0 auto;
}

/* section.features .iphone {
    margin-bottom: 100px;
} */


section.features .feature-item {
    padding-bottom: 50px;
    text-align: center;
}

section.features .feature-item h3 {
    font-size: 30px;
}

section.features .feature-item i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    color: #17a2b8 !important;
    /* background: -webkit-gradient(linear, right top, left top, from(#194b69), to(#00f2ff));
    background: linear-gradient(to right, #194b69, #00f2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}


/*---------- RESPONSIVE --------------*/


@media (min-width: 992px) {
    section.features .iphone {
        margin-bottom: 0;
    }
}


/*======================================================================
                              INSCRIPTION.php
======================================================================*/


.page-content {
    height: 100%;
    background: url("../img/bg-pattern.png"), linear-gradient(to right, #003c46, #00c0a3);
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;

}


.form-v2-content {
    width: 80%;
    background: #fff;
    /*border-radius: 15px;*/
    /*-o-border-radius: 15px;*/
    /*-ms-border-radius: 15px;*/
    /*-moz-border-radius: 15px;*/
    /*-webkit-border-radius: 15px;*/
    display: flex;
    display: -webkit-flex;
}


/*----------- bloc gauche -----------*/

.page-content .form-v2-content .photo {
    padding: 0;
}

.form-v2-content .form-left {
    width: 100%;
    height: 100%;
    background-image: url(https://source.unsplash.com/random);
    background-size: cover;
    background-repeat: no-repeat;
}


/*----------- FORMULAIRE -----------*/


.form-v2-content .form-detail {
    padding: 20px 0;
}

.form-v2-content .form-detail .form-group {
    padding: 0 20px;
}

.form-v2-content .form-detail h2 {
    font-weight: 900;
    color: rgb(47, 47, 47);
    font-size: 28px;
    padding: 0 20px;
    margin: 10px 0 20px 0;
    text-align: center;
}


/*.form-v2-content .form-row {*/
/*    width: 100%;*/
/*    position: relative;*/
/*}*/

.form-v2-content .form-detail label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #898989;
    display: block;
    margin-bottom: 11px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.form-v2-content .form-detail input {
    width: 100% !important;
    border-radius: 2rem;
    border: 1px solid #dcdcdc;
    height: 40px;
    padding: 0 15px;
}

.form-v2-content .form-detail div.form-group .passConf {
    margin-top: 50px;
    background: #40cc00;
}


/*BT VALIDER */
.form-v2-content .form-detail .btn-valider {
    background: #338697;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 0.9rem;
    padding: 10px;
    margin: 40px 0 20px 0;
}

.form-v2-content .form-detail .btn-valider:hover {
    background: #294e60;
}


.form-v2-content .sentence, .form-v2-content .sentence a {
    font-size: 0.9rem;
    text-decoration: underline;
    color: #9a9a9a;
    text-align: center;
}

.form-v2-content .sentence a:hover {
    color: #3a9dff
}


/* Responsive */
/*@media screen and (max-width: 750px) {*/
/*    .form-v2-content {*/
/*        margin: 180px 20px;*/
/*        flex-direction: column;*/
/*        -o-flex-direction: column;*/
/*        -ms-flex-direction: column;*/
/*        -moz-flex-direction: column;*/
/*        -webkit-flex-direction: column;*/
/*    }*/

/*    !*.form-v2-content .form-left {*!*/
/*    !*    width: 100%;*!*/
/*    !*}*!*/


/*    .form-v2-content .form-detail {*/
/*        padding: 30px 20px 30px 20px;*/
/*        width: auto;*/
/*    }*/

/*    .form-v2-content .form-detail .form-row input {*/
/*        width: 95%;*/
/*    }*/

/*    .form-v2-content .form-detail .form-checkbox {*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 575px) {*/
/*    .form-v2-content .form-detail .form-row input {*/
/*        width: 89.5%;*/
/*    }*/
/*}*/


/*======================================================================
                        CONNECTION.php
======================================================================*/


/*NOTHING*/


/*======================================================================
                        CONTACT-LIST.php
======================================================================*/

/*----------- BOUTONS  -----------*/


#contact-list #buttons-options .has-search .form-control {
    padding-left: 2.375rem;
}

#contact-list #buttons-options .input-group input.form-control {
    border-radius:3rem 0 0 3rem;
}

#contact-list #buttons-options .input-group > .input-group-append > .btn{

    border-top-right-radius:3rem;
    border-bottom-right-radius: 3rem;
    z-index:4;
}
#contact-list #buttons-options .form-control::placeholder{
    font-size: 0.9rem;
    color: #a6a6a6;
}

/*----------- LEGEND  -----------*/

#contact-list #legend {
    background: #1d1d1d;
    padding: 10px;
    margin-bottom: 15px;
    vertical-align: middle;
    text-align: center;
}

#contact-list #legend p {
    color: #FFFFFF;
    text-align: center;
    margin: auto;
    padding-right: 30px;
    font-size: 0.8rem;
    text-transform: uppercase;
}

#contact-list #add-contact{
    background-color: #FFFFFF;
}


/*----------- LISTE  -----------*/


#contact-list #list .list-group {
    background-color: #FFFFFF;
}

#contact-list #list .list-group-item {
    border: none;
    background-color: #f5f5f5;
    margin-bottom: 5px;
}


/* boutnon ajout contact */
#contact-list #list .list-group-item .btn-add-contact {
    border: none;
    margin: 10px;
    color: #FFFFFF;
    padding: 20px;
    text-decoration: none;

}

/* photo*/
#contact-list .image {
    width: 80px;
    margin-right: 2rem;
    border: 3px solid rgb(214, 214, 214);
    border-radius: 50px 50px 50px 50px;
}

/* nom prenom*/
#contact-list .text a {
    margin-bottom: 0;
    color: #17a2b8;
}

#contact-list .text small {
    color: rgb(119, 119, 119);
    font-size: 0.75em;
}

/* pictos phone mail*/

#contact-list .picto{
    font-size: 0.9rem;
    color: #1d1d1d;
    vertical-align: middle;
}
#contact-list .picto i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #1d1d1d;
}

/* pictos bt modif suppr*/

#contact-list .btn-user {
border: none;
color: white;
padding: 12px 16px;
font-size: 1rem;
    margin-left: 20px;
}
/*#contact-list #list button i{*/
/*    margin:auto;*/
/*}*/


/*PAGINATION*/
#contact-list #pagination{
    margin-top: 50px;
}






/*======================================================================
                        CREATION FICHE-PROFIL.php
======================================================================*/


#my-profile {
    width: 70%;
    /*margin: 0 auto;*/
    /*padding: 30px 0;*/
}

#my-profile form {
    margin-bottom: 15px;
    background: #fff;
    padding: 30px;
}

#my-profile .form-group {
    margin-bottom: 20px;
    color: #999;
}

#my-profile label {
    font-weight: normal;
    font-size: 14px;
    text-align: right;
}

#my-profile .form-control {
    border-color: #eee;
    min-height: 40px;
}

#my-profile .form-control::placeholder {
    color: #dcdcdc;
}

#my-profile .form-separator {
    margin-bottom: 50px;
}

#my-profile .btn-validate {
    margin-top: 20px;
    width: 100%;
    padding: 10px 0;
}


/*======================================================================
                        FICHE USER-PROFIL.php
======================================================================*/


/*----------- profil-left---------*/

#user-profile-left .card {
    background-color: #ffff;
    border: none;
}

#user-profile-left .card-title {
    margin-bottom: 5px;
}

#user-profile-left .user-lastname {
    font-size: 2rem;
    color: #252a31;
    font-weight: 600;
}

#user-profile-left .user-firstname {
    font-size: 1rem;
    color: #252a31;
    font-weight: 600;
    margin-bottom: 30px;

}

#user-profile-left .user-job {
    text-transform: uppercase;
    color: #7a7a7a;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

#user-profile-left .user-btn{
    color: #fff;
    font-size: 0.9rem;
    width: 100%;
    padding: 10px 20px;
}
#user-profile-left .user-btn span, #contact-list #list .list-group-item .btn-add-contact span{
    margin-left:10px;
}
#user-profile-left .user-btn:last-child{
    margin-top:15px;
}



/*---------  #user-profile-right  -------------*/


#user-profile-right .list-group {
    border: 1px solid rgba(0, 0, 0, .125);
}

#user-profile-right .list-group .title, #user-profile-commentaires .list-group .title {
    background: #000000;
}

#user-profile-commentaires .card-header {
    padding: 0;
    background: #000000;
    color: #ffffff;
}

#user-profile-right .list-group-item {
    height: 50px;
    padding: 0;
    /*background-color: transparent;*/
}

#user-profile-right .list-group-item i.pictos-title, #user-profile-commentaires .card-header i.pictos-title {
    font-size: 1.4rem;
    color: #ffffff;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #000000;
    line-height: 2.1;
    float: left;
    margin-right: 10px;
}

#user-profile-right .list-group h5.card-title, #user-profile-commentaires .card-header h5.card-title {
    color: #FFFFFF;
    font-size: 0.9rem;
    padding-top: 16px;

}

#user-profile-right .list-group-item i.pictos {
    font-size: 1.3rem;
    color: #08a2b8;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 2.1;
    float: left;
    margin-right: 20px;
    margin-left: 50px;
}

#user-profile-right .list-group-item:last-child {
    height: 100px;
}

#user-profile-right .list-group-item:last-child .card {
    background-color: transparent;
    border: none;
}

#user-profile-right .list-group-item:last-child .card .card-body {
    margin-top: 15px;
    padding: 0;
}

#user-profile-right .list-group-item:last-child .card .card-body .infos {
    margin: 0;
}

#user-profile-right .list-group-flush .list-group-item p.infos, #user-profile-right li span {
    font-size: 1rem;
    color: #000000;
    margin-top: 13px;
}

/*------ user-profile-suggestions ------*/

#user-profile-suggestions img {
    width: 70%;
    margin: 20px auto 10px auto;
}

#user-profile-suggestions #user-profile-left .user-name {
    font-size: 1.2rem;
    margin-top: 10px;
}

#user-profile-suggestions #user-profile-left .user-job {
    margin-bottom: 30px;
}

#user-profile-suggestions .card-body {
    padding: 0;
}

#user-profile-suggestions #user-profile-left .user-btn {
    color: #fff;
    font-size: 1rem;
    padding: 10px;
}

#user-profile-suggestions #user-profile-left .btn {
    border-radius: 0;
}

#user-profile-suggestions i {
    font-size: 1.2rem;
}


/*======================================================================
                        modification-contact
======================================================================*/

#modify-profil .user-btn-suppr {
    color: #fff;
    font-size: 1rem;
    width: 100%;
    padding: 10px 20px;
    margin: 20px 0;
}

#modify-profil .date-ajout {
    color: #4e4e4e;
    font-size: 0.8rem;
    margin-bottom: 20px;
    text-align: right;
}
