/*======================================================================
                            0 GENERAL
======================================================================*/

/*Footer en bas de page*/
* {
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-height: 100% !important;
    position: relative;
}

body {
    background: #eaeaea;
    font-family: 'Roboto', 'Catamaran', 'Open Sans', 'Muli', 'Helvetica', 'Arial', 'sans-serif';
    padding-bottom: 200px;
    /*width: 100%;*/
    /*min-height: 100%;*/
    /*margin : 0 auto;*/
    /*position: relative;*/
}

body#bodycolor {
    background: #f5f5f5;
}

/*main {*/
/*    padding-top: 180px;*/
/*}*/


#MAIN-CONTAINER {
    padding-top: 85px;
}

h2, h3 {
    font-family: 'Roboto', 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

hr.light {
    max-width: 100px;
    margin: 50px auto;
    border-width: 1px;
    border-color: rgba(34, 34, 34, 0.1);
}

.hr-title {
    border: 1px solid rgb(230, 230, 230);
    max-width: 300px;
    margin: 0px auto 40px auto;
}

ion-icon {
    font-size: 1.5rem;
    /*margin-right: 10px;*/
    color: #FFFFFF;
}

.body-bg {
    background: url("../img/bg-pattern-light.png"), linear-gradient(to right, #091822, #194f5f);
}


.btn {
    border-radius: 0;
    box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
}

/*.container-one:hover .fill-one {*/
/*    -webkit-transform: translateX(100px);*/
/*    -moz-transform: translateX(100px);*/
/*    transform: translateX(100px);*/
/*}*/


/*****************************************************************************************************/
/*RESPONSIVE*/
/*****************************************************************************************************/


/*@media screen and (min-width: 480px) {*/
/*    #MAIN-CONTAINER {*/
/*        padding-top:85px;*/
/*    }*/
/*}*/
/*@media screen and (min-width: 768px) {*/
/*    #MAIN-CONTAINER {*/
/*        margin-top:70px;*/
/*    }*/
/*}*/

/*======================================================================
                            NAVBAR BASE.HTML
======================================================================*/


#mainNav {
    background-color: rgba(12, 17, 25, 0.95) !important;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#mainNav .navbar-brand {
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 0 30px!important;
}

.navbar a.navbar-brand:hover,
.navbar a.navbar-brand:focus {
    color: #48e4ff;
}

#mainNav #search-form input {
    width: 70%;
}

#mainNav.navbar{
padding:0!important;
}



#mainNav .navbar-nav > li > a {
    font-size: 11px;
    font-family: 'Roboto', 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.81);
    background: rgba(0, 0, 0, 0);
    transition: 0.5s;
    padding: 20px 35px;
}

#mainNav ul.navbar-nav li.nav-item > a:hover {
    color: #ffffff;
    background: #17a2b8;
    /*padding:10px 10px 5px 10px;*/
    transition: 0.3s;

}

.navbar ul.navbar-nav li.nav-item a.dropdown-item {
    font-size: 0.9rem;
}

.navbar .input-group > .form-control:not(:last-child) {
    border-radius: 0;
}

.navbar .form-control::placeholder {
    font-size: 13px;
    opacity: 0.7;
}

.navbar .btn {
    box-shadow: none;
    font-family: 'Roboto', 'Catamaran', 'Open Sans', 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}


/*NOTIFICATIONS*/
.navbar .btn-notifications {
    color: #FFFFFF;
}

/*****************************************************************************************************/
/*RESPONSIVE*/
/*****************************************************************************************************/


@media (max-width: 768px) {
    #mainNav .navbar-nav > li {
        margin-left: 0px;
        text-align: center;
    }
    #mainNav .form-control, .navbar .input-group-btn {
       margin:20px 0;
    }
}


/* ===================  TOGGLE ===================*/


/* contours*/
/*.navbar .navbar-toggler {background: rgba(255, 255, 255, 1);}*/


/*sandwich*/
/*.navbar .navbar-light .navbar-toggler-icon{*/
/*color: #ffffff;*/
/*}*/


/*!* A CORRIGER toggle color *!*/
/*.navbar .navbar-toggler .navbar-toggler-icon {*/
/*font-size: 12px;*/
/*padding: 8px 10px;*/
/*color: #ffffff;*/
/*}*/


/*======================================================================
                               1 INDEX.HTML
======================================================================*/


/* jumbotron*/
/*---------------------------------------------------------*/

.jumbotron {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url('https://source.unsplash.com/random');
    text-align: center;
    height: 500px;
    background-size: cover;
    /*filter: blur(8px);*/
    /*-webkit-filter: blur(8px);*/
    font-family: Raleway;
    /*object-fit: cover;*/
    margin-bottom: 0;

}

.jumbo-content {
    margin-top: 100px !important;
}


/* header masterhead*/
/*---------------------------------------------------------*/


header.masthead {
    width: 100%;
    color: white;
    /*background: url("../img/bg-pattern.png"), linear-gradient(to right, #003c46, #00c0a3);*/
    margin: 90px 0;
}

header.masthead .text {
    max-width: 500px;
    font-size: 30px;
    letter-spacing: 2px;
}

header.masthead .text h1 {
    font-weight: 400;
    /*padding-top: 50px;*/
    font-size: 40px;
    text-align: left;
    /*margin-top:50px;*/
}

header.masthead .iphone {
    margin-right: auto;
    margin-left: auto;
    max-width: 280px;
    margin-top: 50px;
}

header.masthead a.btn-outline {
    color: #fff;
    border: 1px solid #17a2b8;
    font-size: 11px;
    padding: 15px 45px;
    border-radius: 300px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: none;
    background-color: rgba(23, 162, 184, 0.58);;

}

header.masthead a.btn-outline.active,
header.masthead a.btn-outline:active,
header.masthead a.btn-outline:focus,
header.masthead a.btn-outline:hover {
    color: #fff;
    background-color: #17a2b8;;
}



/* FEATURES */
/*---------------------------------------------------------*/

section.ft-background {
    background: #ffffff;
    width: 100%;
    padding: 100px 0;

}

/*section.features h2 {*/
/*    font-size: 50px;*/
/*    padding-top: 50px;*/
/*}*/

section.features .feature-item {
    /*max-width: 350px;*/
    padding: 0 !important;
    text-align: center;
}

/* section.features .iphone {
    margin-bottom: 100px;
} */

section.features .feature-item h3 {
    font-size: 1.5rem !important;
}

section.features .feature-item i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    color: #17a2b8 !important;
    /* background: -webkit-gradient(linear, right top, left top, from(#194b69), to(#00f2ff));
    background: linear-gradient(to right, #194b69, #00f2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

/*-----------------------------------------------------------------------------------------*/

@media (max-width: 768px) {
    .jumbotron h1 {
        font-size: 3em;
    }
}




/*======================================================================
                     2A REGISTER.HTML
======================================================================*/


.page-content {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    margin-bottom: 100px;
}


.form-v2-content {
    width: 80%;
    background: #fff;
    /*border-radius: 15px;*/
    /*-o-border-radius: 15px;*/
    /*-ms-border-radius: 15px;*/
    /*-moz-border-radius: 15px;*/
    /*-webkit-border-radius: 15px;*/
    display: flex;
    display: -webkit-flex;
}


/* BLOC GAUCHE */
/*---------------------------------------------------------*/

.page-content .form-v2-content .photo {
    padding: 0;
}

.form-v2-content .form-left {
    width: 100%;
    height: 100%;
    background-image: url(https://source.unsplash.com/random);
    background-size: cover;
    background-repeat: no-repeat;
}


/* FORMULAIRE */
/*---------------------------------------------------------*/


.form-v2-content .form-detail {
    padding: 20px 0;
}

.form-v2-content .form-detail .form-group {
    padding: 0 20px;
}

.form-v2-content .form-detail h2 {
    font-weight: 900;
    color: rgb(47, 47, 47);
    font-size: 28px;
    padding: 0 20px;
    margin: 10px 0 20px 0;
    text-align: center;
}


/*.form-v2-content .form-row {*/
/*    width: 100%;*/
/*    position: relative;*/
/*}*/

.form-v2-content .form-detail label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #898989;
    display: block;
    margin-bottom: 11px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.form-v2-content .form-detail input {
    width: 100% !important;
    border-radius: 2rem;
    border: 1px solid #dcdcdc;
    height: 40px;
    padding: 0 15px;
}

.form-v2-content .form-detail div.form-group .passConf {
    margin-top: 50px;
    background: #40cc00;
}


/*BT VALIDER */
.form-v2-content .form-detail .btn-valider {
    background: #338697;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 0.9rem;
    padding: 10px;
    margin: 40px 0 20px 0;
}

.form-v2-content .form-detail .btn-valider:hover {
    background: #294e60;
}


.form-v2-content .sentence, .form-v2-content .sentence a {
    font-size: 0.9rem;
    text-decoration: underline;
    color: #9a9a9a;
    text-align: center;
}

.form-v2-content .sentence a:hover {
    color: #3a9dff
}

.form-v2-content .form-detail .form-group ul {
    color: red;
    list-style: none;
    font-size: 12px;
    margin: 0;
    padding: 0 0 5px 0;
}

/* Responsive */
/*@media screen and (max-width: 750px) {*/
/*    .form-v2-content {*/
/*        margin: 180px 20px;*/
/*        flex-direction: column;*/
/*        -o-flex-direction: column;*/
/*        -ms-flex-direction: column;*/
/*        -moz-flex-direction: column;*/
/*        -webkit-flex-direction: column;*/
/*    }*/

/*    !*.form-v2-content .form-left {*!*/
/*    !*    width: 100%;*!*/
/*    !*}*!*/


/*    .form-v2-content .form-detail {*/
/*        padding: 30px 20px 30px 20px;*/
/*        width: auto;*/
/*    }*/

/*    .form-v2-content .form-detail .form-row input {*/
/*        width: 95%;*/
/*    }*/

/*    .form-v2-content .form-detail .form-checkbox {*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 575px) {*/
/*    .form-v2-content .form-detail .form-row input {*/
/*        width: 89.5%;*/
/*    }*/
/*}*/


/*======================================================================
                        2B LOGIN.HTML
======================================================================*/


/*NOTHING*/


/*======================================================================
                       3 LIST CONTACT.HTML
======================================================================*/

/* BOUTON */
/*---------------------------------------------------------*/

#contact-list {
    background: #ffffff;
    margin-bottom: 100px;
}

#contact-list #buttons-options .has-search .form-control {
    padding-left: 2.375rem;
}

#contact-list #buttons-options .input-group input.form-control {
    border-radius: 3rem 0 0 3rem;
}

#contact-list #buttons-options .input-group > .input-group-append > .btn {
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    z-index: 4;
    background: #17a2b8;
}

#contact-list #buttons-options .form-control::placeholder {
    font-size: 0.9rem;
    color: #a6a6a6;
}

/* LEGENDES */
/*---------------------------------------------------------*/

#contact-list #legend {
    background: #1d1d1d;
    padding: 10px;
    margin-bottom: 15px;
}

#contact-list #legend p {
    color: #FFFFFF;
    text-align: left;
    margin: auto;
    font-size: 0.8rem;
    text-transform: uppercase;
}

#contact-list #add-contact {
    background-color: #FFFFFF;
}


/* LISTE */
/*---------------------------------------------------------*/


#contact-list #list .list-group {
    background-color: #FFFFFF;
}

#contact-list #list .list-group-item {
    border: none;
    background-color: #f5f5f5;
    margin-bottom: 5px;
}


/* bouton ajout contact */
#contact-list #list .list-group-item .btn-add-contact {
    color: #FFFFFF;
    padding: 8px 40px;
}

#contact-list #list .list-group-item .btn-add-contact a {
    color: #FFFFFF;
    font-size: 0.9rem;
    text-decoration: none;
}

#contact-list #list .list-group-item .btn-add-contact i {
    margin: 10px;
}

/* photo*/

#contact-list .list-group-item .list-vignettes img {
    width: 70px;
    height: 70px;
    padding: 0;
    border: 1px solid rgb(143, 143, 143);
    object-fit: cover;
    margin: auto;
}

/* nom prenom*/
#contact-list .list-group-item .text {
    margin: auto 0;
}

#contact-list .list-group-item .text a {
    color: #17a2b8;
}

/* profession */
#contact-list .list-group-item .text small {
    color: rgb(119, 119, 119);
    font-size: 0.75em;
}

/* pictos phone mail*/
#contact-list .list-group-item .picto {
    font-size: 0.9rem;
    color: #1d1d1d;
    /*vertical-align: middle;*/
}

#contact-list .list-group-item .picto i {
    font-size: 1.1rem;
    color: #1d1d1d;
    margin-right: 15px;
    padding: auto;
}


/* bt d'action edit delete chat */

#contact-list .list-group-item .btn-user i {
    margin-top: 6px
}

#contact-list .list-group-item .btn-action {
    margin: auto;
}

#contact-list .list-group-item .btn-user {
    border: none;
    color: white;
    font-size: 1rem;
    margin: 5px;
    width: 40px;
    height: 40px;
}

/*btn delete*/
.del-conf-btn .btn-secondary .confirm {
    display: none;
}

.del-conf-btn .btn-secondary .success {
    display: none;
}

.del-conf-btn .btn-secondary.trash {
    display: block;
}

.del-conf-btn .btn-danger .success {
    display: none;
}

.del-conf-btn .btn-danger .trash {
    display: none;
}

.del-conf-btn .btn-danger .confirm {
    display: block;
}

.del-conf-btn .btn-success .confirm {
    display: none;
}

.del-conf-btn .btn-success .trash {
    display: none;
}

.del-conf-btn .btn-success .success {
    display: block;
}

.del-conf-btn .btn {
    -webkit-transition: all .83s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    width: 100px;
}

.del-conf-btn a {
    color: #ffffff;
}

/*btn chat*/
#contact-list .list-group-item .btn-chat {
    border: 2px solid #17a2b8;
    background: #FFFFFF;
    color: #17a2b8;
}

/*PAGINATION*/

#contact-list #pagination {
    margin: 40px;
}





/************************************************************************************************/
/*RESPONSIVE*/
/************************************************************************************************/


@media screen and (max-width: 768px) {
    #contact-list #legend,#contact-list .fa-mobile-alt,#contact-list .fa-envelope, .list-vignettes,
    #contact-list i .fa-mobile-alt, #contact-list i .fa-enveloppe
    {
        display: none;
    }

    #contact-list .list-group-item{
        display: inline;
        position: relative;
    }

    #contact-list.posRel{
            position: relative;
        }
    #contact-list .posAbsolute{
        position: absolute;
        top: 10px;
        right:0;
        z-index: 5;
    }
    #contact-list .btn-add-contact{
 margin:0 auto;
    }

    #contact-list #buttons-options #recherche{
        margin: 20px auto;
        width: 100%;
    }

    #contact-list .resp-tel, #contact-list .resp-mail, #contact-list .resp-name{
        clear: both;
    }

}

@media screen and (max-width: 979px) {
    #contact-list #legend,#contact-list .fa-mobile-alt,#contact-list .fa-envelope,
    #contact-list i .fa-mobile-alt, #contact-list i .fa-enveloppe
    {
        display: none;
    }

    #contact-list .list-group-item{
        display: inline;
        position: relative;
    }

    #contact-list.posRel{
        position: relative;
    }
    #contact-list .posAbsolute{
        position: absolute;
        top: 10px;
        right:0;
        z-index: 5;
    }
    #contact-list .btn-add-contact{
        margin:0 auto;
    }

    #contact-list #buttons-options #recherche{
        margin: 20px auto;
        width: 100%;
    }

    #contact-list .resp-tel, #contact-list .resp-mail, #contact-list .resp-name{
        clear: both;
    }

}




/*======================================================================
                        4 PROFIL.HTML COMPTE.HTML
======================================================================*/


/*UPLOAD PHOTOS*/
/*---------------------------------------------------------*/


#upload-photo .form-group {
    margin: 0px;
}

#upload-photo .thumbnail {
    object-fit: cover;
    width: 230px;
    height: 230px;
    z-index: 50;
}

#upload-photo {
    position: relative;
    color: #FFFFFF;
}

#upload-photo .img-preview {
    position: absolute;
    width: 100%;
    right: 0px;
    bottom: 81px;
    z-index: 20;
}

#upload-photo .bg-file {
    cursor: pointer !important;
}

#upload-photo input[type="file"] {
    opacity: 0.7;
    /*height: 20px;*/
    /*width: 250px;*/
    font-size: 12px;
    background: #17a2b8;
    color: #101a20;
    cursor: pointer !important;
}

#upload-photo input[type="file"] + label {
    cursor: pointer !important;
}

#upload-photo .btn {
    padding: 15px 0;
}

/*#upload-photo input[type='file'] {*/
/*       display: none;*/
/*}*/


/* PROFIL-LEFT */
/*---------------------------------------------------------*/

#user-profile-left .card {
    background-color: #ffff;
    margin-bottom: 50px;
}

/*gestions img*/
#user-profile-left .card-img-top {
    width: 100%;
    margin: auto;
}

#user-profile-left img {
    height: 230px;
    width: 230px;
    object-fit: cover;
}

#user-profile-left .user-lastname {
    font-size: 1.5rem;
    color: #252a31;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
}

#user-profile-left .user-firstname {
    font-size: 1rem;
    color: #252a31;
    font-weight: 500;
    margin-bottom: 10px;
}

#user-profile-left .user-job {
    /*text-transform: uppercase;*/
    color: #7a7a7a;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 20px auto;
}

#my-profile .user-btn, #user-profile-left .user-btn {
    color: #fff;
    font-size: 0.9rem;
    width: 100%;
    padding: 10px 10px;
}

#my-profile .user-btn a {
    color: #fff;
}

#user-profile-left .user-btn span, #contact-list #list .list-group-item .btn-add-contact span {
    margin-left: 10px;
}

#user-profile-left .user-btn.suppr-btn {
    margin-top: 20px;

}

/*#user-profile-left .user-btn:last-child {*/
/*    margin-top: 15px;*/
/*}*/


/* #user-profile-right */
/*---------------------------------------------------------*/


#user-profile-right .list-group {
    border: 1px solid rgba(0, 0, 0, .125);
}

#user-profile-right .list-group .title, #user-profile-commentaires .list-group .title {
    background: #000000;
}

#user-profile-commentaires .card-header {
    padding: 0;
    background: #000000;
    color: #ffffff;
}

#user-profile-right .list-group-item {
    height: 50px;
    padding: 0;
}

#user-profile-right .list-group-item i.pictos-title, #user-profile-commentaires .card-header i.pictos-title {
    font-size: 1.4rem;
    color: #ffffff;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #000000;
    line-height: 2.1;
    float: left;
    margin-right: 10px;
}

#user-profile-right .list-group h5.card-title, #user-profile-commentaires .card-header h5.card-title {
    color: #FFFFFF;
    font-size: 0.9rem;
    padding-top: 16px;

}

#user-profile-right .list-group-item i.pictos {
    font-size: 1.3rem;
    color: #b5b5b5;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 2.4;
    float: left;
    margin-right: 10px;
    margin-left: 40px;
}

#user-profile-right .list-group-item:last-child {
    height: 100px;
}

#user-profile-right .list-group-item:last-child .card {
    background-color: transparent;
    border: none;
}

#user-profile-right .list-group-item:last-child .card .card-body {
    margin-top: 15px;
    padding: 0;
}

#user-profile-right .list-group-item:last-child .card .card-body .infos {
    margin: 0;
}

#user-profile-right .list-group-flush .list-group-item p.infos, #user-profile-right li span {
    font-size: 1rem;
    color: #000000;
    margin-top: 13px;
}

#map {
    height: 170px;

}

/* SUGGESTIONS */
/*---------------------------------------------------------*/

#suggestions {
    background: rgb(246, 246, 246);
    padding: 50px 0;
}


#suggestions .card {
    height: 400px;
    width: 100%;
    margin: auto;
    /*border: 1px solid #ececec;*/
    /*box-shadow: -1px 1px 12px #e6e6e6;*/
    display: flex;
    margin-bottom : 30px;
}

#suggestions .card img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    margin-top: 20px;
    border: 1px solid #2d2d2d;
}

#suggestions .card-texts {
    height: 90px;
    /*border:1px solid red;*/
    margin: 30px 10px 0 10px;
}

#suggestions #user-profile-left {
    padding-bottom: 2rem;
}

#suggestions #user-profile-left .user-name {
    font-size: 1.2rem;
}

/*#suggestions #user-profile-left .user-job {*/
/*margin-bottom: 20px;*/
/*}*/

#suggestions .card-body {
    padding: 0;
}

#suggestions #user-profile-left button {
    color: #fff;
    font-size: 1rem;
}

#suggestions #user-profile-left .btn {
    border-radius: 0;
}

#suggestions i {
    font-size: 1.2rem;
}


/*======================================================================
                        5 CREATE CONTACT.HTML
======================================================================*/


#my-profile {
    /*width: 70%;*/
    /*margin: 0 auto;*/
    margin-bottom: 100px;
    background: #FFFFFF;

}

#my-profile .formulaire {
    margin-bottom: 15px;
    background: #fff;
    padding: 30px;
}

#my-profile .form-group {
    margin-bottom: 20px;
    color: #999;
}

#my-profile label {
    font-weight: normal;
    font-size: 14px;
}

#my-profile input {
    border-radius: 50px;
}

/*dateBirth*/

#my-profile #user_complete_dateBirth.form-control, #my-profile #contact_dateDeNaissance.form-control {
    border: none;
}

#my-profile #user_complete_dateBirth select, #my-profile #contact_dateDeNaissance select {
    margin-right: 20px;
}

#my-profile .form-control::placeholder {
    color: #dcdcdc;
}

#my-profile .form-separator {
    margin-bottom: 50px;
}

#my-profile .btn-validate {
    margin-top: 20px;
    width: 100%;
    padding: 10px 0;
}


/*======================================================================
                        6 EDIT CONTACT.HTML
======================================================================*/


.date-ajout {
    color: #ffffff;
    font-size: 0.8rem;
    margin-bottom: 20px;
    text-align: right;

}

/*======================================================================
                        7 SEARCH USER.HTML
======================================================================*/

/*cf CREATE PROFIL.HTML*/


#search-results {
    margin-bottom: 40px;
}


/*======================================================================
                        8 ADD CONTACT .HTML
======================================================================*/

.invisibl {
    height: 5px;
    visibility: hidden;
}


/*======================================================================
                        FOOTER
======================================================================*/

/*Fond*/
footer {
    background-color: #3c3d41;
    color: white;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
}

/*brand*/
footer h2 a {
    font-size: 40px;
    text-align: center;
    color: #ffffff;
}

/*listes text*/
footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.5;
    height: auto;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9rem;
}

footer a:hover,
footer a:focus {
    text-decoration: none;
    color: white;
}


/*social-networks */
footer .social-networks {
    text-align: center;
}

footer .social-networks a {
    font-size: 30px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

footer .social-networks a:hover {
    text-decoration: none;
}

footer .facebook:hover {
    color: #0077e2;
}

footer .google:hover {
    color: #ef1a1a;
}

footer .twitter:hover {
    color: #00aced;
}

/* btn final */
footer .btn {
    color: white;
    background-color: #17a2b8;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 10px auto 10px auto;
    line-height: 25px;
    box-shadow: none;
}

/* copyright*/
footer .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    text-align: center;
}

footer .footer-copyright p {
    color: #ffffff;
}
/************************************************************************************************************/
/*responsive*/
/************************************************************************************************************/

@media screen and (max-width: 767px) {
    footer {
        text-align: center;
        height:200px;
    }
}


/*======================================================================
                        ADDONS
======================================================================*/


/* PARTICLES.JS */
/*---------------------------------------------------------*/

#particles-js {

    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: #b61924;*/
    /*background-image: url("../img/bg-pattern.png"), linear-gradient(to right, #003c46, #00c0a3);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: 50% 50%;*/
    opacity: 0.3;
    z-index: -1;
}

/*scroll to top button */
/*---------------------------------------------------------*/

#return-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background: rgba(255, 146, 14, 1);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 500;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(255, 146, 14, 1);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}



/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/



/* WIDTH INDICATOR */
/*---------------------------------------------------------*/


body:after {
    background: rgba(206, 63, 41, 0.5);
    color: #fff;
    left: 0;
    position: fixed;
    text-align: center;
    top: 8%;
    width: 100%;
}

/* Content for different screen widths */
@media only screen and (min-width: 0px) {
    body:after {
        content: "0 to 100px";
    }
}

@media only screen and (min-width: 100px) {
    body:after {
        content: "100 to 240px";
    }
}

@media only screen and (min-width: 240px) {
    body:after {
        content: "240 to 320px";
    }
}

@media only screen and (min-width: 320px) {
    body:after {
        content: "320 to 480px";
    }
}

@media only screen and (min-width: 480px) {
    body:after {
        content: "480 to 768px";
    }
}

@media only screen and (min-width: 768px) {
    body:after {
        content: "768 to 980px";
    }
}

@media only screen and (min-width: 980px) {
    body:after {
        content: "980 to 1024px";
    }
}

@media only screen and (min-width: 1024px) {
    body:after {
        content: "1024 and up";
    }
}


/* ==============
TOGGLE CROSS
================
*/

/*input {*/
/*    display: none;*/
/*}*/

/*label {*/
/*    position: relative;*/
/*    width: 50px;*/
/*    height: 40px;*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*    margin: 1.7em;*/
/*    transition: all .5s;*/
/*    text-align: left;*/
/*}*/

/*div,*/
/*div:before,*/
/*div:after {*/
/*    background: $icn-clr;*/
/*    position: absolute;*/
/*    height: 5px;*/
/*    width: 50px;*/
/*    border-radius: 4px;*/
/*    transition: all .5s;*/
/*}*/