/*======================================================================
                            GENERAL
======================================================================*/


body {
    /* background: #eaeaea; */
    font-family: 'Open Sans', 'Muli', 'Helvetica', 'Arial', 'sans-serif';
    width: 100%;
    height: 100vh;
}

/*main{*/
/*    margin-top: 100px;*/
/*}*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
}


hr {
    max-width: 100px;
    margin: 50px auto;
    border-width: 1px;
    border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
    border-color: white;
}


/*======================================================================
                            NAVBAR
======================================================================*/


#mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: rgba(1, 34, 51, 0.843);
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
}

#mainNav .navbar-brand {
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 1px;
}

#mainNav a.navbar-brand:hover,
#mainNav a.navbar-brand:focus {
    color: #ffc402;
}

#mainNav .navbar-nav > li > a {
    font-size: 11px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
    color: #ffc402;
}

#mainNav ul.navbar-nav li.nav-item a.nav-link:hover {
    color: #ffffff;;
}

/* A CORRIGER classe active */
#mainNav ul.navbar-nav li.nav-item a.dropdown-item.active {
    color: #ff0000 !important;
    background-color: transparent;
}


/* ===================  TOGGLE ===================*/


/* A CORRIGER toggle color */
#mainNav .navbar-toggler .navbar-toggler-icon {
    font-size: 12px;
    padding: 8px 10px;
    background-color: #ffffff;
}


#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
    color: #FFFFFF;
}


/*======================================================================
                               INDEX.php
======================================================================*/


/* ===================  HEADER ===================*/


header.masthead {
    width: 100%;
    /*padding-top: 150px;*/
    padding-bottom: 100px;
    color: white;
    background: url("../img/bg-pattern.png"), linear-gradient(to right, #003c46, #00c0a3);
}

header.masthead .text {
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center;
}

header.masthead .text h1 {
    font-size: 30px;
}

header.masthead .iphone {
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
}


header.masthead a.btn-outline {
    color: #fff;
    border: 1px solid;
    font-size: 11px;
    padding: 15px 45px;
    border-radius: 300px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header.masthead a.btn-outline.active,
header.masthead a.btn-outline:active,
header.masthead a.btn-outline:focus,
header.masthead a.btn-outline:hover {
    color: #fff;
    border-color: #fdcc52;
    background-color: #fdcc52;
}

/*---------- RESPONSIVE --------------*/

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        /* min-height: 775px; */
        padding-top: 0;
        padding-bottom: 0;
    }


    header.masthead .text {
        margin-bottom: 0;
        text-align: left;
    }

    header.masthead .text h1 {
        font-size: 50px;
    }

    header.masthead .iphone {
        max-width: 325px;
    }
}


/* ===================  FEATURES ===================*/


section.features {
    margin-top: 100px;
}

section.features h2 {
    font-size: 50px;
}

section.features .feature-item {
    max-width: 350px;
    margin: 0 auto;
}

/* section.features .iphone {
    margin-bottom: 100px;
} */


section.features .feature-item {
    padding-bottom: 50px;
    text-align: center;
}

section.features .feature-item h3 {
    font-size: 30px;
}

section.features .feature-item i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    color: #17a2b8 !important;
    /* background: -webkit-gradient(linear, right top, left top, from(#194b69), to(#00f2ff));
    background: linear-gradient(to right, #194b69, #00f2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}


/*---------- RESPONSIVE --------------*/


@media (min-width: 992px) {
    section.features .iphone {
        margin-bottom: 0;
    }
}


/*======================================================================
                              INSCRIPTION.php
======================================================================*/



.page-content {
    height: 100%;
    background: url("../img/bg-pattern.png"), linear-gradient(to right, #003c46, #00c0a3);
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;

}


.form-v2-content {
    width: 80%;
    background: #fff;
    /*border-radius: 15px;*/
    /*-o-border-radius: 15px;*/
    /*-ms-border-radius: 15px;*/
    /*-moz-border-radius: 15px;*/
    /*-webkit-border-radius: 15px;*/
    display: flex;
    display: -webkit-flex;
}


/*----------- bloc gauche -----------*/

.page-content .form-v2-content .photo {
    padding: 0px;
}

.form-v2-content .form-left {
    width: 100%;
    height: 100%;
    background-image: url("../img/form-v2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*----------- FORMULAIRE -----------*/


.form-v2-content .form-detail {
    padding: 20px 0px;
}

.form-v2-content .form-detail .form-group {
    padding: 0px 20px;
}

.form-v2-content .form-detail h2 {
    font-family: 'Catamaran',
    'Helvetica',
    'Arial',
    'sans-serif';
    font-weight: bolder;
    color: rgb(47, 47, 47);
    font-size: 28px;
    padding: 0px 20px;
    margin: 10px 0px 20px 0px;
    text-align: center;

}

/*.form-v2-content .form-row {*/
/*    width: 100%;*/
/*    position: relative;*/
/*}*/

.form-v2-content .form-detail label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #666;
    display: block;
    margin-bottom: 11px;
}

.form-v2-content .form-detail input {
    width: 100% !important;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
    height: 40px;
    padding: 0px 15px;
}

.form-v2-content .form-detail div.form-group .passConf{
    margin-top: 50px;
    background: #40cc00;
}


















/*!*placeholders *!*/

/*input::-webkit-input-placeholder {*/
/*    !* Chrome/Opera/Safari *!*/
/*    color: #999;*/
/*    font-size: 14px;*/
/*}*/

/*input::-moz-placeholder {*/
/*    !* Firefox 19+ *!*/
/*    color: #999;*/
/*    font-size: 14px;*/
/*}*/

/*input:-ms-input-placeholder {*/
/*    !* IE 10+ *!*/
/*    color: #999;*/
/*    font-size: 14px;*/
/*}*/

/*input:-moz-placeholder {*/
/*    !* Firefox 18- *!*/
/*    color: #999;*/
/*    font-size: 14px;*/
/*}*/

/*!* GESTION success*!*/
/*.form-v2-content .form-detail .form-row label#valid {*/
/*    position: absolute;*/
/*    right: 20px;*/
/*    top: 50%;*/
/*    width: 14px;*/
/*    height: 14px;*/
/*    border-radius: 50%;*/
/*    -o-border-radius: 50%;*/
/*    -ms-border-radius: 50%;*/
/*    -moz-border-radius: 50%;*/
/*    -webkit-border-radius: 50%;*/
/*    background: #53c83c;*/
/*}*/

/*!* GESTION success*!*/
/*.form-v2-content .form-detail .form-row label#valid::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 5px;*/
/*    top: 1px;*/
/*    width: 3px;*/
/*    height: 8px;*/
/*    border: 1px solid #fff;*/
/*    border-width: 0 2px 2px 0;*/
/*}*/

/*!* GESTION ERROR *!*/
/*.form-v2-content .form-detail .form-row label.error {*/
/*    padding-left: 0;*/
/*    margin-left: 0;*/
/*    display: block;*/
/*    position: absolute;*/
/*    bottom: -10px;*/
/*    width: 100%;*/
/*    background: none;*/
/*    color: red;*/
/*}*/

/*!* GESTION ERROR *!*/
/*.form-v2-content .form-detail .form-row label.error::after {*/
/*    content: "\f343";*/
/*    font-family: "LineAwesome";*/
/*    position: absolute;*/
/*    right: 10px;*/
/*    top: -31px;*/
/*    color: red;*/
/*    font-size: 18px;*/
/*    font-weight: 900;*/
/*}*/

/*.form-v2-content .form-detail .input-text {*/
/*    margin-bottom: 27px;*/
/*}*/

/*.form-v2-content .form-detail input {*/
/*    color: #333;*/
/*    width: 91%;*/
/*    padding: 14.5px 15px;*/
/*    border: 1px solid #e5e5e5;*/
/*    border-radius: 5px;*/
/*    -o-border-radius: 5px;*/
/*    -ms-border-radius: 5px;*/
/*    -moz-border-radius: 5px;*/
/*    -webkit-border-radius: 5px;*/
/*    appearance: unset;*/
/*    -moz-appearance: unset;*/
/*    -webkit-appearance: unset;*/
/*    -o-appearance: unset;*/
/*    -ms-appearance: unset;*/
/*    outline: none;*/
/*    -moz-outline: none;*/
/*    -webkit-outline: none;*/
/*    -o-outline: none;*/
/*    -ms-outline: none;*/
/*    font-family: 'Roboto', sans-serif;*/
/*    font-size: 16px;*/
/*}*/

/*.form-v2-content .form-detail .form-row input:focus {*/
/*    border: 1px solid #53c83c;*/
/*}*/

/*BT VALIDER */
.form-v2-content .form-detail .btn-valider {
    background: #338697;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 0.9rem;
    padding: 10px;
    margin: 40px 0px 20px 0px;
}

.form-v2-content .form-detail .btn-valider:hover {
    background: #294e60;
}


.form-v2-content .sentence, .form-v2-content .sentence a {
    font-size: 0.9rem;
    text-decoration: underline;
    color: #9a9a9a;
    text-align: center;
}

.form-v2-content .sentence a:hover {
    color: #3a9dff
}


/* Responsive */
/*@media screen and (max-width: 750px) {*/
/*    .form-v2-content {*/
/*        margin: 180px 20px;*/
/*        flex-direction: column;*/
/*        -o-flex-direction: column;*/
/*        -ms-flex-direction: column;*/
/*        -moz-flex-direction: column;*/
/*        -webkit-flex-direction: column;*/
/*    }*/

/*    !*.form-v2-content .form-left {*!*/
/*    !*    width: 100%;*!*/
/*    !*}*!*/


/*    .form-v2-content .form-detail {*/
/*        padding: 30px 20px 30px 20px;*/
/*        width: auto;*/
/*    }*/

/*    .form-v2-content .form-detail .form-row input {*/
/*        width: 95%;*/
/*    }*/

/*    .form-v2-content .form-detail .form-checkbox {*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 575px) {*/
/*    .form-v2-content .form-detail .form-row input {*/
/*        width: 89.5%;*/
/*    }*/
/*}*/


/*======================================================================
                        CONNECTION.php
======================================================================*/


.form-v2-content .form-right img {
    width: 100%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}


/*======================================================================
                        CONTACT-LIST.php
======================================================================*/

/*----------- BOUTONS  -----------*/
#tools {
    margin-top: 90px;
}

/* BTN AJOUTER */
.bt-ajouter i.fa-plus-circle {
    color: white;
}


/* BTN RECHERCHE */

#recherche .search-form {
    border-radius: 30px 0px 0px 30px;
    /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}

#recherche button.search-btn {
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
    background: #0f95aa;
}

#recherche i.fa {
    color: white;
}


/*----------- LISTE  -----------*/

/*.fas.fa-plus-circle,*/
/*.fas.fa-pen,*/
/*.fas.fa-trash {*/
/*    color: white;*/

/*}*/


/*#contact .text a {*/
/*    margin-bottom: 0;*/
/*    color: #0f95aa;*/
/*}*/

/*#contact .text small {*/
/*    color: rgb(119, 119, 119);*/
/*    font-size: 0.75em*/
/*}*/

/*!* photos*!*/
/*#contact .image {*/
/*    width: 80px;*/
/*    margin-right: 2rem;*/
/*    border: 3px solid rgb(214, 214, 214);*/
/*    border-radius: 50px 50px 50px 50px;*/
/*}*/

/*#contact .picto i {*/
/*    margin-right: 1rem;*/
/*    color: #0f95aa;*/
/*}*/


/*======================================================================
                        FICHE-PROFIL.php
======================================================================*/


/*#fiche-profil {*/
/*    background: #F1F3FA;*/
/*}*/


.profil-card{
    text-transform: uppercase;
}

.profil-card .btn-outline{
    color: #fff;
    border: 1px solid;
    font-size: 11px;
    padding: 15px 45px;
    border-radius: 300px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header.masthead a.btn-outline.active,
header.masthead a.btn-outline:active,
header.masthead a.btn-outline:focus,
header.masthead a.btn-outline:hover {
    color: #fff;
    border-color: #fdcc52;
    background-color: #fdcc52;
}

.card-img-top {
    margin: 0px;
}

.profile {
    margin: 50px 0;

}

/* Profile card */
.profile-sidebar {
    padding: 20px 0 10px 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/*.decors{*/
/*    height: 200px;*/
/*    background-color: #e2e6e1;*/
/*}*/

.profile-userpic img {
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    border: 5px solid #d2d2d2;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
}


.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 10px 0px;
}


    /*-------------------------------------*/


/*.profile {*/
/*    height: 80%;*/
/*}*/

.profile .infos {
     padding: 20px 0px;

 }
.profile .infos i {
    margin: 0px 20px;

}



.profile .icon-case {
    float: left;
    width: 35px;
    background: #eeeeee;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.profile i {
    color: #555;
}
