{% extends 'base.html.twig' %}

{% block body %}
    <div id="MAIN-CONTAINER"></div>
    <div id="chat">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 my-auto">
                    <h2 class="font-weight-bold">Chat</h2>
                    <div id="message-container" class="card-body" style="overflow: auto"></div>
                    <form id="form-message">
                        <div class="row inputButton">
                            <div class="col-md-8 justify-content-between">
                                <input type="hidden" name="message_to" id="input_message_to" value="{{ user_id }}">
                                <input class="form-control" name="content" id="input_message_content">
                            </div>
                            <div class="col-md-4">
                                <button class=" btn btn-labeled btn-info user-btn" type="submit">Envoyer</button>
                            </div>
                        </div>

                        {#   PAS DE TYPE SUBMIT ????  thusy        #}
                    </form>

                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}

