{% extends 'base.html.twig' %}

{% block body %}


    <!-------------- FEATURES ---------------->

    <!-- jumbotron -->
    <div class="jumbotron jumbotron-fluid bg-info text-white">
        <div class="container text-sm-center pt-5 jumbo-content">
            <h1 class="display-3">Welcome to Webforce OOk</h1>
            <h3>Gérez et Communiquez avec vos contacts <br> professionnels facilement ! </h3>
        </div>
    </div><!-- /jumbotron -->

    <section class="features ft-background " id="features">
        <div class="container-fluid">
{#            <div class="section-heading text-center">#}
{#                <h2>Des </h2>#}
{#                <p class="text-muted">Voici ce que cette application va vous apporter ! </p>#}
{#                <hr class="light">#}
{#            </div>#}
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="feature-item">
                        <i class="fas fa-award text-info"></i>
                        <h3>Simple et efficace</h3>
                        <p class="text-muted">En deux clics retrouvez toutes les informations de vos
                            contacts</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="feature-item">
                        <i class="fas fa-fighter-jet text-info"></i>
                        <h3>Rapide</h3>
                        <p class="text-muted">Une gestion optimisée et qualitative pour une efficacité
                            maximale !</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="feature-item">
                        <i class="fas fa-gift text-info"></i>
                        <h3>Gratuit</h3>
                        <p class="text-muted">L'ensemble des fonctionnalités proposées sont gratuites et
                            ça
                            c'est top !</p>
                    </div>
                </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="feature-item">
                            <i class="fas fa-bullhorn text-info"></i>
                            <h3>Des questions ? </h3>
                            <p class="text-muted">Une équipe sympa et géniale à votre écoute</p>
                        </div>
                    </div>
                </div>
        </div>
    </section>

    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="text mx-auto">
                        <h1 class="mb-5">Prochainement, téléchargez l'application Webforce Ook !
                            La gestion de vos contacts, partout, tout le temps du bout des doigts.
                        </h1>
                        <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">En savoir plus</a>
                    </div>
                </div>
                <div class="col-lg-4 mx-auto">
                    <div class="iphone">
                        <img src="img/iphone_6_plus_white_port.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>


{% endblock %}
